{% include 'header.html' %}

<body>
<div class="container">
    <div>
        <h2 class="montserrat-text">The amount of money you use to buy comics is on a month</h2>
    </div>
    <div class="row">
        <div class="col-8">
          <canvas id="myChart" style="max-width: 1000px;"></canvas>
        </div>
        <div class="col-4">
            <form action="/finance" method="post" class="form-inline">
                <div class="form-group mb-2">
                    <label for="year-select" class="form-label">Select year:</label>
                    <select name="selected_year" id="year-select" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Select</button>
            </form>
            <p class="mb-0 text-danger open-text">Total amount is <span class="font-weight-bold">{{ total_amount }} Đ</span></p>
            <p class="text-primary open-text">Total amount is <span class="font-weight-bold">{{ year_amount }} Đ</span> in {{ selected_year }}</p>
        </div>
    </div>

<script>
var xValues = {{ month | tojson }};
var yValues = {{ amount | tojson }};
var barColors = ["#2f4b7c", "#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c",,"#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Your money spend for comic in a month"
    }
  }
});

    var yearSelect = document.getElementById("year-select");
    var currentYear = new Date().getFullYear(); // Lấy năm hiện tại
    for (var year = 2018; year <= currentYear; year++) {
        var option = document.createElement("option");
        option.value = year;
        option.text = year;
        yearSelect.appendChild(option);
    }
    yearSelect.value = currentYear.toString();
</script>
</div>
</body>