{% include 'header.html' %}
<body>
<div class="container">
    <div>
        <h2>The amount of money you use to buy comics is on a month</h2>
    </div>
    <div class="row">
        <div class="col-8">
          <canvas id="myChart" style="max-width: 600px;"></canvas>
        </div>
        <div class="col-4">
            <form action="/finance" method="post">
                <label for="year-select">Chọn năm:</label>
                <select name="selected_year" id="year-select">
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                </select>
                <input type="submit" value="Select">
            </form>
            <p>Total amout is {{ total_amount }} Đ</p>
            <p>Total amout is {{ year_amount }} Đ in {{ selected_year }}</p>
        </div>
    </div>

<script>
var xValues = {{ month | tojson }};
var yValues = {{ amount | tojson }};
var barColors = ["#2f4b7c", "#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c",,"#2f4b7c","#2f4b7c","#2f4b7c","#2f4b7c"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Your money spend for comic in a month"
    }
  }
});
</script>
</div>
</body>