<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComicTracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='./script/script.js') }}"></script>
    <link href="{{ url_for('static', filename='./css/style.css') }}" rel="stylesheet">
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="./static/img/book.svg" height="30">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ url_for('home') }}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{{ url_for('tracking') }}" class="nav-link px-2 text-white">Tracking</a></li>
          <li><a href="{{ url_for('schedule') }}" class="nav-link px-2 text-white">Schedule</a></li>
          <li><a href="{{ url_for('finance') }}" class="nav-link px-2 text-white">Finance</a></li>
            {% if user.id == 1 %}
              <li><a href="{{ url_for('inform') }}" class="nav-link px-2 text-white">Inform</a></li>
              <li><a href="{{ url_for('add') }}" class="nav-link px-2 text-white">Add</a></li>
              <li><a href="{{ url_for('update') }}" class="nav-link px-2 text-white">Update</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
          <div class="text-end">
          <a href="{{ url_for('profile') }}"><button type="button" class="btn btn-success me-2">{{ user.name }}</button></a>
          <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
        </div>
          {% else %}
        <div class="text-end">
          <a href="{{ url_for('login') }}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{{ url_for('register') }}"><button type="button" class="btn btn-warning">Sign-up</button></a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
</body>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% with msgs = get_flashed_messages(with_categories=true) %}
                {% if msgs %}
                    {% for category, msg in msgs %}
                        <div class="alert alert-{{ category }}">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
</html>