{% include "header.html" %}
<style>
  .featurette-heading span.text-body-secondary {
    background-image: linear-gradient(to bottom, #ff9900, #ffcc00);
    background-clip: text;
    color: transparent;
  }
  .image-container {
  max-width: 600px; /* Kích thước tối đa cho hình ảnh */
  position: relative;
  overflow: hidden;
}

.move-image {
  width: 100%;
  height: auto;
  animation: moveImage 5s linear infinite; /* Định nghĩa animation với thời gian 5 giây và lặp vô hạn */
}

@keyframes moveImage {
  0% {
    transform: translateX(-100%); /* Di chuyển ảnh ra xa bên trái */
  }
  100% {
    transform: translateX(100%); /* Di chuyển ảnh ra xa bên phải */
  }
}
</style>


<div class="container col-xxl-8 px-4 py-5" style="background-image: url('./static/img/wallpaper.jpg'); background-size: cover; background-repeat: no-repeat; min-height: 600px;">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
    </div>
    <div class="col-lg-6">
      <h1 class="display-8 fw-bold text-warning lh-1 mb-3 montserrat-text">Welcome to ComicTracker: Embark on a Journey of Passion for Comics Together</h1>
      <p class="lead text-warning open-text">Are you an avid comic book enthusiast who loves to immerse yourself in captivating worlds and follow the exciting journeys of your favorite characters? Look no further – ComicTracker is here to revolutionize your comic reading experience.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>
<div class="container my-5 border-top">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary montserrat-text">Release Reminders</span></h2>
      <p class="lead open-text">Never miss a release date again! Set up release reminders, and we'll make sure you're informed whenever a new issue of your tracked series is about to hit the shelves.</p>
      <a href="{{ url_for('login') }}" class="btn btn-info">Login</a>
      <a href="{{ url_for('tracking') }}" class="btn btn-warning mx-2 open-text">Tracking</a>
    </div>
    <div class="col-md-5">
      <div class="image-container">
        <img src="{{ url_for('static', filename='./img/tracking.jpg') }}" class="move-image" style="max-width: 600px; height: 300px;">
      </div>
    </div>
  </div>
</div>
<div class="container my-5 border-top">
  <div class="row featurette">
    <div class="col-md-7 order-md-2 px-5">
      <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary montserrat-text">Effortless Series Management</span></h2>
      <p class="lead open-text">Easily create and manage a personalized list of comic series you're currently purchasing. With just a few clicks, you can add new series, mark issues as acquired, and stay up-to-date with release schedules.</p>
      <a href="{{ url_for('login') }}" class="btn btn-info">Login</a>
      <a href="{{ url_for('schedule') }}" class="btn btn-warning mx-2 open-text">Schedule</a>
    </div>
    <div class="col-md-5 order-md-1">
      <div class="image-container">
        <img src="{{ url_for('static', filename='./img/schedule.jpg') }}" class="move-image" style="max-width: 600px; height: 300px;">
      </div>
    </div>
  </div>
</div>
<div class="container my-5 border-top">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary montserrat-text">Expense Trends</span></h2>
      <p class="lead open-text">Identify trends in your comic-related expenses. Are you spending more during certain months or on particular series? The Financial Insight feature provides insights that empower you to adjust your purchasing habits.</p>
      <a href="{{ url_for('login') }}" class="btn btn-info">Login</a>
      <a href="{{ url_for('finance') }}" class="btn btn-warning mx-2 open-text">Finance</a>
    </div>
    <div class="col-md-5">
      <div class="image-container">
        <img src="{{ url_for('static', filename='./img/finance.jpg') }}" class="move-image" style="max-width: 600px; height: 300px;">
      </div>
    </div>
  </div>
</div>
<div class="container border-top">
  <div class="row my-2">
    <h3 class="text-info montserrat-text" style="text-decoration: underline;">Newly updated comics</h3>
    {% for comic in comics %}
      <div class="col-2 my-1">
        <div class="card">
          <img class="card-img-top" src="{{ comic.img }}" alt="Card image cap">
        </div>
        <div class="text-container">
          <a href="{{ url_for('info', index=comic.comic_id) }}"><p class="card-text open-text" style="font-size: larger;">{{ comic.name }}</p></a>
          <p class="card-text text-muted">
            {% if comic.volume == comic.name %}
                Tập 1
            {% else %}
                {{ comic.volume }}
            {% endif %}
          </p>
          <p class="card-text text-muted"><strong>{{ comic.price }} Đ</strong></p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>