{% include 'header.html' %}

<style>
  .subscribeButton {
    width: 80px;
    padding: 5px 10px;
  }
  .container.my-2 {
    background-color: #F1F0E8; /* Màu nền của container */
    padding: 10px;
    border-radius: 10px; /* Đường viền bo tròn cho container */
  }
    .table td {
    vertical-align: middle; /* Căn giữa theo chiều dọc */
  }
.button-container {
  display: flex;
  flex-direction: column; /* Hiển thị các nút theo chiều dọc */
  align-items: center; /* Căn giữa các nút dọc */
}

.followButton, .changeButton {
  width: 150px;
  padding: 5px 10px;
  margin: 5px 0; /* Để tạo khoảng cách giữa các nút */
}
</style>
<style>
* {
    box-sizing: border-box;
}
    .custom {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #F0F0F0;
        pointer-events: none;
        opacity: 0;
        border-radius: 10px;
    }
    .show {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #F0F0F0;
        pointer-events: all;
        opacity: 1;
        border-radius: 10px;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); /* Màu nền đen với độ mờ 0.6 */
      z-index: 999; /* Đặt z-index cao hơn để che phủ phần nền */
      display: none; /* Ban đầu ẩn lớp overlay */
    }
.custom-button {
    color: #fff; /* Màu chữ trắng */
    font-size: 16px; /* Kích thước chữ */
    font-weight: bold; /* Độ đậm của chữ */
    padding: 10px 20px; /* Khoảng cách giữa nút và nội dung */
    text-transform: uppercase; /* Chuyển đổi chữ thành chữ in hoa */
    text-decoration: none; /* Loại bỏ gạch chân (underline) cho liên kết trong nút */
    border-radius: 4px; /* Bo góc nút */
}

.custom-button:hover {
    color: #fff; /* Màu chữ trắng khi hover */
}
.custom-button a {
    color: #fff !important; /* Màu chữ trắng và sử dụng !important để ghi đè lên các quy tắc khác */
    text-decoration: none; /* Loại bỏ gạch chân (underline) cho liên kết */
}
</style>

<div class="container my-2">
    <div class="row my-2">
        <div class="col-2">
            <div class="card-info">
                <img class="card-img-top" src="{{ first.img }}">
            </div>
        </div>
        <div class="col-5 mx-2 mt-2 ">
            <h2 class="text-secondary">{{ first.name }}</h2>
            <p class="text-muted"><strong>Nhà xuất bản/phát hành:</strong> {{ first.publisher }}</p>
            <p class="text-muted"><strong>Ngày đầu tiên phát hành:</strong> {{ first.release_date }}</p>
            <button class="followButton btn btn-info" data-comic-id="{{ index }}" data-follow="{% if follow_check == 'TRUE' %}true{% else %}false{% endif %}">
              {% if follow_check == 'TRUE' %}
                UnFollow
              {% else %}
                Follow
              {% endif %}
            </button>
            <p class="text-muted"><strong>Choose your purchase status.</strong></p>
            <a class="changeButton btn btn-warning mt-2" href="{{ url_for('info', index=index, select='all') }}">All</a>
            <a class="changeButton btn btn-warning mt-2" href="{{ url_for('info', index=index, select='purchased') }}">Purchased</a>
            <a class="changeButton btn btn-warning mt-2" href="{{ url_for('info', index=index, select='purchase') }}">Purchase</a>
        </div>
    </div>
</div>
<div class="container border-top border-4">
    <div style="overflow-y: auto; max-height: 400px;">
        <table class="table table-striped table-dark my-2">
          <thead>
            <tr>
              <th scope="col" class="px-3">Name</th>
              <th scope="col">Edition</th>
              <th scope="col">Volume</th>
              <th scope="col">Release Date</th>
              <th scope="col">Price</th>
              <th scope="col">Purchased?</th>
              <th scope="col">Buy</th>
            </tr>
          </thead>
          <tbody>
          {% for comic in comic %}
            <tr {% if comic.edition != "Normal" %}class="table-warning"{% endif %}>
              <td class="px-3">{{ comic.name }}</td>
              <td>{{ comic.edition }}</td>
              <td>
                  {% if comic.volume == comic.name %}
                    Tập 1
                  {% else %}
                    {{ comic.volume }}
                  {% endif %}
              </td>
              <td>{{ comic.release_date }}</td>
              <td>{{ comic.price }} Đ</td>
              <td>
                  {% if dict[comic.id] == 'TRUE' %}
                <button class="subscribeButton btn btn-outline-warning" data-comic-id="{{ comic.id }}" data-check="{% if dict[comic.id] == 'TRUE' %}true{% else %}false{% endif %}">
                    UnCheck
                </button>
                  {% else %}
                <button class="subscribeButton btn btn-outline-info" data-comic-id="{{ comic.id }}" data-check="{% if dict[comic.id] == 'TRUE' %}true{% else %}false{% endif %}">
                    Check
                </button>
                  {% endif %}
              </td>
              <td><button class="btn btn-outline-danger" id="{{ comic.id }}" onclick="buyComic(this.id)">Buy</button></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="row border-top mt-2 mx-auto">
        {% for comment in comment %}
        <div class="col-1 mt-2">
            <img class="rounded" src="{{ comment.author.avatar }}" width="100" height="100">
        </div>
        <div class="col-11 mt-2 px-3">
            <div class="row">
                <div class="col-5">
                    <h3 class="poppins-text">{{ comment.author.name }}</h3>
                </div>
                <div class="col-4">
                    <small class="poppins-text">{{ comment.time_post }}</small>
                </div>
            </div>
            <p class="poppins-text">{{ comment.content }}</p>
            {% if current_user.id == comment.author.id %}
                <small><a href="{{ url_for('delete_comment', index=comment.id, comic_id = index) }}">delete</a></small>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 poppins-text">Comment</legend>
                    <div class="form-group">
                        <p class="poppins-text">Add Your Comment</p>
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control form-control-lg my-2") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group mt-2 mb-5">
                    {{ form.submit(class="btn btn-info") }}
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" id="overlay">
        {% for comic in comic %}
        <div id="modal-container-{{comic.id}}" class="custom">
            <div class="row">
                <div class="col-5" >
                    <img src="{{ comic.img }}" class="mx-2 my-2" style="width: 300px; height: 400px;"   >
                </div>
                <div class="col-5 mt-3 mx-2" style="width: 400px; height: 300px;">
                    <h2 class="montserrat-text"><strong>{{ comic.name }} - {{ comic.volume }}</strong></h2>
                    <p class="mt-2 open-text"><strong>Release Date:</strong> {{ comic.release_date }}</p>
                    <p class="mt-2 open-text"><strong>Publisher:</strong> {{ comic.publisher }}</p>
                    <p class="mt-2 open-text"><strong>Price:</strong> {{ comic.price }} Đ</p>
                    <button class="btn btn-danger custom-button mt-5"><a href="https://www.fahasa.com/searchengine?q={{ comic.name.upper() }}%20-%20{{ comic.volume }}" target="_blank">FAHASA</a></button>
                    <button class="btn btn-info custom-button mt-5"><a href="https://tiki.vn/search?q={{ comic.name.upper() }}%20-%20{{ comic.volume }}" target="_blank">TIKI</a></button>
                    <button class="btn btn-warning custom-button mt-5"><a href="https://shopee.vn/search?keyword={{ comic.name.upper() }}%20-%20{{ comic.volume }}" target="_blank">SHOPEE</a></button>
                </div>
                <div class="col-1">
                    <button id="btn-{{comic.id}}" class="btn" style="position: absolute; top: 0; right: 0;"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script>
function buyComic(comicId) {
  const btn_open = document.getElementById(comicId);
  const btn_close = document.getElementById('btn-'+comicId);

  const modal_container = document.getElementById('modal-container-'+comicId);
  const overlay = document.getElementById('overlay');

  btn_open.addEventListener('click', ()=>{
    modal_container.classList.remove('custom');
    modal_container.classList.add('show');
    overlay.style.display = 'block';
  });

  btn_close.addEventListener('click', ()=>{
    modal_container.classList.remove('show');
    modal_container.classList.add('custom');
    overlay.style.display = 'none';
  });

  overlay.addEventListener('click', ()=>{
    modal_container.classList.remove('show');
    modal_container.classList.add('custom');
    overlay.style.display = 'none';
  });

  modal_container.addEventListener('click', (e)=>{
    e.stopPropagation(); // Ngăn chặn sự kiện click từ việc lan truyền lên phía trên
  });
}


</script>