{% include 'header.html' %}
<div class="container">
  <h2>Followed Comic</h2>
    <div class="row">
          {% for comic in list %}
        <div class="col-2 my-1">
          <div class="card">
            <img class="card-img-top" src="{{ comic.img_cover }}" alt="Card image cap">
          </div>
          <div class="text-container">
            <p class="card-text"><strong><em><span style="font-size: larger;">{{ comic.name }}</span></em></strong></p>
          </div>
        </div>
          {% endfor %}
    </div>
</div>