{% from "bootstrap5/form.html" import render_form  %} {{ bootstrap.load_css() }}
{% include 'header.html' %}

<div class="container px-4 py-5">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('tracking') }}">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <input type="text" class="form-control" id="autocomplete-input1" name="name" list="list-comic"
                       placeholder="Type to search..." value="{{ form.name.data }}">
                <datalist id="list-comic"></datalist>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </div>


    </form>
<div class="container my-5 ">
    {% if comics %}
    <div class="row cards">
    {% for comic in comics %}
    <div class="col-2 my-2">
      <div class="card">
        <img class="card-img-top" src="{{ comic.img_cover }}" alt="Card image cap">
      </div>
      <div class="text-container">
        <p class="card-text" >{{ comic.name }}</p>
        <div class="wrap">
          <div>
            <button class="followButton btn btn-info" data-comic-id="{{ comic.id }}" data-follow="{% if dict[comic.id] == 'TRUE' %}true{% else %}false{% endif %}">
              {% if dict[comic.id] == 'TRUE' %}
                UnFollow
              {% else %}
                Follow
              {% endif %}
            </button>
          </div>
        </div>
        <div id="resultMessage_1"></div>
      </div>
    </div>
  {% endfor %}
{% endif %}
</div>
</div>