{% from "bootstrap5/form.html" import render_form  %} {{ bootstrap.load_css() }}
{% include 'header.html' %}

<div class="container px-4 py-5" id="featured-3">
    {% with msg= get_flashed_messages() %}
    {% if msg %}
    <p style="color: red;">{{ msg[0] }}</p>
    {% endif %}
    {% endwith %}
        <form method="POST" action="{{ url_for('tracking') }}">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <input type="text" class="form-control" id="autocomplete-input1" name="name" list="list-comic"
                   placeholder="Type to search..." value="{{ form.name.data }}">
            <datalist id="list-comic"></datalist>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>

        <script>
            const inputField = document.getElementById("autocomplete-input1");
            const suggestionsDatalist = document.getElementById("list-comic");
            inputField.addEventListener("input", async (event) => {
                const text = event.target.value;
                fetch(`/autocomplete?text=${text}`)
                  .then(response => response.json())
                  .then(suggestions => {
                    suggestionsDatalist.innerHTML = "";
                    suggestions.forEach(suggestion => {
                      const optionElement = document.createElement("option");
                      optionElement.value = suggestion;
                      suggestionsDatalist.appendChild(optionElement);
                    });
                  });
             });
        </script>
    </form>
    {% if comics %}
    <ul class="archon-list">
        {% for comic in comics %}
        <li>{{ comic.name }}
            {% if dict[comic.id] == 'TRUE' %}
            <a href="{{ url_for('unfollow', index=comic.id) }}">Unfollow</a></li>
            {% else %}
            <a href="{{ url_for('follow', index=comic.id) }}">Follow</a></li>
            {% endif %}
    </ul>
    {% endfor %}
    {% endif %}


</div>