{% from "bootstrap5/form.html" import render_form  %} {{ bootstrap.load_css() }}
{% include 'header.html' %}

<div class="container px-4 py-5" id="featured-3">
    {% with msg= get_flashed_messages() %}
    {% if msg %}
    <p style="color: red;">{{ msg[0] }}</p>
    {% endif %}
    {% endwith %}
    {{ render_form(form, novalidate=True) }}
    {% if comics %}
    <ul class="archon-list">
        {% for comic in comics %}
        <li>{{ comic.name }}
            {% if dict[comic.id] == 'TRUE' %}
            <a href="{{ url_for('unfollow', index=comic.id) }}">Unfollow</a></li>
            {% else %}
            <a href="{{ url_for('follow', index=comic.id) }}">Follow</a></li>
            {% endif %}
    </ul>
    {% endfor %}
    {% endif %}
</div>